{% extends "base.html" %}

{% block content %}
<h3 style="position: fixed;left: 50%;top: 40%;transform: translate(-50%, -50%);"><span style="font-weight: bold;color:#853e08">나무 냄새</span>가 나는 사람...</h3>
<div class="container" style="top:100px">
    <a style="padding-left: 120px" href="https://donaricano.com/mypage/1618040826_X0NfsH" target="_blank"><img
            src="https://d1u4yishnma8v5.cloudfront.net/donarincano_gift.png" alt="donaricano-btn"
            style="height: 40px !important;width: 100px !important;" /></a>
</div>
{% endblock content %}